<div class="flex flex-col items-center">
  <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_215_60)">
      <path
        d="M49 0H15C6.71573 0 0 6.71573 0 15V49C0 57.2843 6.71573 64 15 64H49C57.2843 64 64 57.2843 64 49V15C64 6.71573 57.2843 0 49 0Z"
        fill="#F4F2ED"></path>
      <path
        d="M8.5625 15.2812L31.8312 7L55.7125 15.153L51.853 45.925L31.8312 57L12.1345 46.0687L8.5625 15.2812Z"
        fill="#E23237"></path>
      <path d="M55.7123 15.1532L31.8311 7V57L51.8528 45.925L55.7123 15.1532Z" fill="#B52E31"></path>
      <path
        d="M31.8672 12.8438L17.3672 45.0938L22.7782 44.9842L25.6999 37.697H38.6687L41.8437 45.0407L47.0029 45.15L31.8672 12.8438ZM31.9029 23.1968L36.8092 33.4422H27.6249L31.9172 23.1968H31.9029Z"
        fill="white"></path>
    </g>
    <defs>
      <clipPath id="clip0_215_60">
        <rect width="64" height="64" fill="white"></rect>
      </clipPath>
    </defs>
  </svg>
  <p class="text-center">Angular</p>
</div>
