<div class="flex flex-col items-center">
  <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_226_38)">
      <path
        d="M49 0H15C6.71573 0 0 6.71573 0 15V49C0 57.2843 6.71573 64 15 64H49C57.2843 64 64 57.2843 64 49V15C64 6.71573 57.2843 0 49 0Z"
        fill="url(#paint0_linear_226_38)"></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M39.4297 8.25275C39.8382 8.75975 40.0462 9.444 40.4627 10.812L49.5617 40.7023C46.144 38.9287 42.4757 37.6868 38.6835 37.0192L32.7593 16.9993C32.7239 16.88 32.6602 16.771 32.5737 16.6817C32.4871 16.5923 32.3802 16.5252 32.2621 16.4861C32.1441 16.447 32.0183 16.437 31.8955 16.457C31.7727 16.477 31.6566 16.5264 31.557 16.601C31.4237 16.701 31.3265 16.8415 31.2798 17.0015L25.427 37.0093C21.6177 37.6736 17.9326 38.9175 14.5 40.6978L23.6432 10.8053C24.0615 9.43925 24.27 8.7565 24.6785 8.2505C25.039 7.80365 25.508 7.45662 26.0408 7.2425C26.6443 7 27.3583 7 28.7868 7H35.3175C36.7478 7 37.4627 7 38.0667 7.243C38.6 7.45761 39.0692 7.8051 39.4297 8.25275Z"
        fill="#31274A"></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M40.5187 42.1248C39.0187 43.4075 36.0247 44.282 32.5762 44.282C28.3434 44.282 24.7957 42.9643 23.8544 41.1923C23.5179 42.208 23.4424 43.3703 23.4424 44.113C23.4424 44.113 23.2207 47.7593 25.7567 50.2953C25.7567 49.6629 26.0079 49.0563 26.4551 48.6092C26.9022 48.162 27.5088 47.9108 28.1412 47.9108C30.3982 47.9108 30.3957 49.88 30.3934 51.4778V51.6203C30.3934 54.0453 31.8754 56.124 33.9832 57C33.6587 56.3323 33.4906 55.5994 33.4917 54.857C33.4917 52.5443 34.8497 51.683 36.4277 50.6825C37.6832 49.8863 39.0782 49.0015 40.0397 47.2265C40.5574 46.2705 40.8277 45.2002 40.8259 44.113C40.8259 43.4198 40.7182 42.7518 40.5187 42.1248Z"
        fill="#FF5D01"></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M40.5187 42.1248C39.0187 43.4075 36.0247 44.282 32.5762 44.282C28.3434 44.282 24.7957 42.9643 23.8544 41.1923C23.5179 42.208 23.4424 43.3703 23.4424 44.113C23.4424 44.113 23.2207 47.7593 25.7567 50.2953C25.7567 49.6629 26.0079 49.0563 26.4551 48.6092C26.9022 48.162 27.5088 47.9108 28.1412 47.9108C30.3982 47.9108 30.3957 49.88 30.3934 51.4778V51.6203C30.3934 54.0453 31.8754 56.124 33.9832 57C33.6587 56.3323 33.4906 55.5994 33.4917 54.857C33.4917 52.5443 34.8497 51.683 36.4277 50.6825C37.6832 49.8863 39.0782 49.0015 40.0397 47.2265C40.5574 46.2705 40.8277 45.2002 40.8259 44.113C40.8259 43.4198 40.7182 42.7518 40.5187 42.1248Z"
        fill="url(#paint1_linear_226_38)"></path>
    </g>
    <defs>
      <linearGradient
        id="paint0_linear_226_38"
        x1="32"
        y1="0"
        x2="32"
        y2="64"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.193" stop-color="#FCB3B2"></stop>
        <stop offset="1" stop-color="#C587EE"></stop>
      </linearGradient>
      <linearGradient
        id="paint1_linear_226_38"
        x1="47.2724"
        y1="31.6913"
        x2="38.3914"
        y2="50.283"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#FF1639"></stop>
        <stop offset="1" stop-color="#FF1639" stop-opacity="0"></stop>
      </linearGradient>
      <clipPath id="clip0_226_38">
        <rect width="64" height="64" fill="white"></rect>
      </clipPath>
    </defs>
  </svg>
  <p class="text-center">Astro</p>
</div>
