<div class="flex flex-col items-center">
  <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_215_70)">
      <path
        d="M49 0H15C6.71573 0 0 6.71573 0 15V49C0 57.2843 6.71573 64 15 64H49C57.2843 64 64 57.2843 64 49V15C64 6.71573 57.2843 0 49 0Z"
        fill="#953CAD"></path>
      <path
        d="M48.8591 25.167V28.5355H52.2276V25.167H53.9119V28.5355H57.2801V30.2197H53.9119V33.588H57.2801V35.2722H53.9119V38.6407H52.2276V35.2722H48.8591V38.6407H47.1749V35.2722H43.8066V33.588H47.1749V30.2197H43.8066V28.5355H47.1749V25.167H48.8591ZM52.2276 30.2197H48.8591V33.588H52.2276V30.2197Z"
        fill="white"></path>
      <path
        d="M30.5002 8.25C39.286 8.25 46.957 13.0215 51.0655 20.114L51.0255 20.0457L40.6883 25.9977C38.6518 22.5495 34.918 20.2222 30.635 20.1745L30.5002 20.1737C23.9688 20.1737 18.6737 25.4685 18.6737 31.9998C18.6716 34.0583 19.2094 36.0815 20.2335 37.8672C22.272 41.426 26.104 43.8265 30.5002 43.8265C34.9233 43.8265 38.7772 41.3955 40.8055 37.7988L40.7562 37.885L51.0778 43.8645C47.0143 50.897 39.4485 55.6538 30.7647 55.7485L30.5002 55.75C21.6865 55.75 13.9938 50.949 9.8955 43.819C7.89475 40.3382 6.75 36.303 6.75 31.9998C6.75 18.8833 17.383 8.25 30.5002 8.25Z"
        fill="white"></path>
    </g>
    <defs>
      <clipPath id="clip0_215_70">
        <rect width="64" height="64" fill="white"></rect>
      </clipPath>
    </defs>
  </svg>
  <p class="text-center">C#</p>
</div>
