<div class="flex flex-col items-center">
  <svg width="80" height="80" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_226_6)">
      <path
        d="M49 0H15C6.71573 0 0 6.71573 0 15V49C0 57.2843 6.71573 64 15 64H49C57.2843 64 64 57.2843 64 49V15C64 6.71573 57.2843 0 49 0Z"
        fill="#512BD4"></path>
      <path
        d="M6.013 42.2357C5.454 42.2357 4.9785 42.053 4.58725 41.6872C4.19575 41.312 4 40.8665 4 40.3505C4 39.8252 4.19575 39.375 4.58725 38.9997C4.9785 38.6247 5.454 38.437 6.013 38.437C6.5815 38.437 7.0615 38.6247 7.453 38.9997C7.85375 39.375 8.054 39.8252 8.054 40.3505C8.054 40.8665 7.85375 41.312 7.453 41.6872C7.0615 42.053 6.5815 42.2357 6.013 42.2357ZM28.3668 41.9263H24.7323L15.1562 27.0968C14.9175 26.7284 14.7162 26.3371 14.5553 25.9287H14.4712C14.5457 26.3602 14.583 27.2843 14.583 28.7005V41.9263H11.3678V21.75H15.24L24.4945 36.228C24.886 36.8285 25.1375 37.241 25.2495 37.4663H25.3053C25.2123 36.9315 25.1655 36.0265 25.1655 34.7505V21.75H28.3668V41.9263ZM44.0245 41.9263H32.771V21.75H43.5773V24.5923H36.0983V30.3045H42.9902V33.1325H36.0983V39.0983H44.0245V41.9263ZM60.0177 24.5923H54.2583V41.9263H50.931V24.5923H45.1855V21.75H60.0177V24.5923Z"
        fill="white"></path>
    </g>
    <defs>
      <clipPath id="clip0_226_6">
        <rect width="80" height="80" fill="white"></rect>
      </clipPath>
    </defs>
  </svg>
  <p class="text-center">.NET</p>
</div>
