<div class="flex flex-col items-center">
  <svg width="80" height="80" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_215_66)">
      <path
        d="M49 0H15C6.71573 0 0 6.71573 0 15V49C0 57.2843 6.71573 64 15 64H49C57.2843 64 64 57.2843 64 49V15C64 6.71573 57.2843 0 49 0Z"
        fill="#F0DB4F"></path>
      <path
        d="M16.8279 53.483L21.7254 50.519C22.6704 52.1943 23.5299 53.6118 25.5916 53.6118C27.5679 53.6118 28.8139 52.8388 28.8139 49.8318V29.3823H34.8284V49.9168C34.8284 56.146 31.1769 58.9815 25.8494 58.9815C21.0381 58.9815 18.2454 56.4898 16.8276 53.4825M38.0951 52.8385L42.9921 50.0033C44.2814 52.1085 45.9569 53.655 48.9209 53.655C51.4131 53.655 53.0021 52.409 53.0021 50.6905C53.0021 48.6285 51.3696 47.898 48.6201 46.6955L47.1169 46.0508C42.7776 44.2038 39.8991 41.8838 39.8991 36.9863C39.8991 32.4753 43.3361 29.0383 48.7064 29.0383C52.5299 29.0383 55.2794 30.3703 57.2554 33.85L52.5726 36.8573C51.5414 35.01 50.4249 34.2798 48.7064 34.2798C46.9449 34.2798 45.8279 35.3968 45.8279 36.8573C45.8279 38.6615 46.9449 39.392 49.5224 40.5093L51.0259 41.1535C56.1381 43.3448 59.0166 45.5783 59.0166 50.6045C59.0166 56.018 54.7636 58.982 49.0499 58.982C43.4651 58.982 39.8564 56.3185 38.0951 52.8385Z"
        fill="#323330"></path>
    </g>
    <defs>
      <clipPath id="clip0_215_66">
        <rect width="80" height="80" fill="white"></rect>
      </clipPath>
    </defs>
  </svg>
  <p class="text-center">JavaScript</p>
</div>
