<div class="flex flex-col items-center">
  <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_226_34)">
      <path
        d="M49 0H15C6.71573 0 0 6.71573 0 15V49C0 57.2843 6.71573 64 15 64H49C57.2843 64 64 57.2843 64 49V15C64 6.71573 57.2843 0 49 0Z"
        fill="#F4F2ED"></path>
      <path
        d="M30.363 7.01349C30.2555 7.02324 29.9132 7.05749 29.6052 7.08174C22.5037 7.72199 15.8517 11.554 11.6385 17.4435C9.29274 20.7182 7.79199 24.4327 7.22524 28.3675C7.02499 29.741 7.00049 30.1467 7.00049 32.0087C7.00049 33.871 7.02499 34.2767 7.22549 35.65C8.58399 45.039 15.2655 52.9277 24.327 55.8505C25.9497 56.3735 27.6602 56.7302 29.6055 56.9452C30.3632 57.0282 33.6377 57.0282 34.3955 56.9452C37.7532 56.5737 40.5977 55.743 43.4032 54.3107C43.8332 54.091 43.9165 54.0322 43.8577 53.9835C43.8187 53.954 41.9857 51.4955 39.7865 48.524L35.7885 43.1232L30.7785 35.7087C28.022 31.6325 25.7542 28.299 25.7345 28.299C25.715 28.2942 25.6955 31.5885 25.6857 35.611C25.671 42.654 25.6662 42.9375 25.5782 43.1035C25.4512 43.343 25.3535 43.4407 25.148 43.5485C24.9917 43.6265 24.8547 43.6412 24.1167 43.6412H23.2712L23.0462 43.4995C22.9069 43.4122 22.7938 43.289 22.7187 43.1427L22.6162 42.9227L22.6262 33.1232L22.6407 23.3187L22.7922 23.128C22.8705 23.0255 23.0367 22.8935 23.154 22.83C23.3542 22.7322 23.4325 22.7225 24.278 22.7225C25.2752 22.7225 25.4412 22.7615 25.7005 23.045C25.7737 23.1232 28.4862 27.2092 31.7317 32.131C35.0174 37.1127 38.3051 42.0931 41.5947 47.0722L45.5537 53.0695L45.7542 52.9375C47.5282 51.784 49.4052 50.1417 50.891 48.431C54.0532 44.7995 56.0915 40.3715 56.7757 35.65C56.976 34.2767 57.0005 33.871 57.0005 32.0087C57.0005 30.1467 56.976 29.741 56.7757 28.3675C55.417 18.9785 48.7355 11.09 39.674 8.16724C38.0757 7.64899 36.375 7.29224 34.4687 7.07724C33.9995 7.02824 30.7687 6.97474 30.3632 7.01374M40.5977 22.136C40.8322 22.2532 41.023 22.478 41.0915 22.7125C41.1305 22.8397 41.1402 25.5572 41.1305 31.6812L41.1157 40.4692L39.5665 38.0937L38.0122 35.7185V29.3305C38.0122 25.2005 38.0317 22.8787 38.061 22.7662C38.1392 22.4927 38.3102 22.2777 38.545 22.1505C38.7452 22.048 38.8187 22.038 39.586 22.038C40.3095 22.038 40.4365 22.048 40.5977 22.136Z"
        fill="black"></path>
    </g>
    <defs>
      <clipPath id="clip0_226_34">
        <rect width="64" height="64" fill="white"></rect>
      </clipPath>
    </defs>
  </svg>
  <p class="text-center">NextJS</p>
</div>
