<div class="flex flex-col items-center">
  <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_226_10)">
      <path
        d="M49 0H15C6.71573 0 0 6.71573 0 15V49C0 57.2843 6.71573 64 15 64H49C57.2843 64 64 57.2843 64 49V15C64 6.71573 57.2843 0 49 0Z"
        fill="#F4F2ED"></path>
      <mask
        id="mask0_226_10"
        style="mask-type:luminance"
        maskUnits="userSpaceOnUse"
        x="9"
        y="9"
        width="46"
        height="46"
      >
        <path d="M9.5 9.5H54.5V54.5H9.5V9.5Z" fill="white"></path>
      </mask>
      <g mask="url(#mask0_226_10)">
        <path
          d="M42.8688 42.2585C43.1553 39.8732 43.0693 39.5252 44.8446 39.9102L45.2963 39.9505C46.6623 40.012 48.4481 39.7307 49.5151 39.244C51.7741 38.1962 53.1133 36.4455 50.8863 36.906C45.8061 37.9537 45.437 36.2327 45.437 36.2327C50.8035 28.27 53.0483 18.1625 51.1096 15.6892C45.8291 8.93924 36.6866 12.1315 36.5338 12.2157L36.4846 12.2245C35.4826 12.0137 34.3751 11.8905 33.0918 11.873C30.7928 11.838 29.049 12.476 27.7235 13.4797C27.7235 13.4797 11.4163 6.76124 12.1741 21.9295C12.3356 25.1567 16.797 46.363 22.123 39.947C24.0725 37.6022 25.9536 35.621 25.9536 35.621C26.8851 36.2415 28.0048 36.558 29.1773 36.4437L29.2686 36.3665C29.2416 36.6703 29.254 36.9764 29.3056 37.277C27.9346 38.8097 28.3388 39.0787 25.5966 39.643C22.8228 40.2142 24.454 41.232 25.5158 41.4992C26.806 41.8227 29.7908 42.2797 31.8088 39.4567L31.7278 39.7782C32.2658 40.209 32.2288 42.872 32.3078 44.774C32.3871 46.676 32.5118 48.4532 32.9003 49.499C33.2888 50.545 33.7441 53.2432 37.3476 52.4872C40.3588 51.8422 42.6616 50.9122 42.8723 42.2745"
          fill="black"></path>
        <path
          d="M42.8688 42.2585C43.1553 39.8732 43.0693 39.5252 44.8446 39.9102L45.2963 39.9505C46.6623 40.012 48.4481 39.7307 49.5151 39.244C51.7741 38.1962 53.1133 36.4455 50.8863 36.906C45.8061 37.9537 45.437 36.2327 45.437 36.2327C50.8035 28.27 53.0483 18.1625 51.1096 15.6892C45.8291 8.93924 36.6866 12.1315 36.5338 12.2157L36.4846 12.2245C35.4826 12.0137 34.3751 11.8905 33.0918 11.873C30.7928 11.838 29.049 12.476 27.7235 13.4797C27.7235 13.4797 11.4163 6.76124 12.1741 21.9295C12.3356 25.1567 16.797 46.363 22.123 39.947C24.0725 37.6022 25.9536 35.621 25.9536 35.621C26.8851 36.2415 28.0048 36.558 29.1773 36.4437L29.2686 36.3665C29.2416 36.6703 29.254 36.9764 29.3056 37.277C27.9346 38.8097 28.3388 39.0787 25.5966 39.643C22.8228 40.2142 24.454 41.232 25.5158 41.4992C26.806 41.8227 29.7908 42.2797 31.8088 39.4567L31.7278 39.7782C32.2658 40.209 32.2288 42.872 32.3078 44.774C32.3871 46.676 32.5118 48.4532 32.9003 49.499C33.2888 50.545 33.7441 53.2432 37.3476 52.4872C40.3588 51.8422 42.6616 50.9122 42.8723 42.2745"
          stroke="black"
          stroke-width="3.7775"></path>
        <path
          d="M50.8702 36.922C45.7902 37.9695 45.4212 36.2488 45.4212 36.2488C50.7877 28.2858 53.0325 18.1783 51.0952 15.705C45.815 8.95502 36.6725 12.149 36.5195 12.2318L36.4702 12.2405C35.3536 12.0164 34.2183 11.898 33.0795 11.887C30.7802 11.852 29.0365 12.49 27.7112 13.4938C27.7112 13.4938 11.4022 6.77552 12.1615 21.9438C12.3232 25.171 16.7847 46.3773 22.1107 39.9613C24.0725 37.6023 25.9535 35.621 25.9535 35.621C26.885 36.2415 28.0047 36.558 29.1772 36.4438L29.2685 36.3665C29.2417 36.6704 29.2542 36.9764 29.3055 37.277C27.9345 38.8098 28.3387 39.0788 25.5965 39.643C22.8227 40.2143 24.454 41.232 25.5157 41.4993C26.806 41.8228 29.7907 42.2798 31.8087 39.4568L31.7277 39.7783C32.2657 40.209 32.6417 42.5785 32.5785 44.7265C32.5152 46.8748 32.473 48.3478 32.895 49.5008C33.3167 50.654 33.7387 53.245 37.3422 52.489C40.3535 51.844 41.9125 50.1688 42.1322 47.381C42.287 45.398 42.635 45.6898 42.6597 43.918L42.941 43.0778C43.2625 40.3883 42.9935 39.5218 44.848 39.926L45.2997 39.9665C46.6657 40.028 48.4535 39.7468 49.501 39.2598C51.7597 38.2123 53.0992 36.4613 50.8722 36.922H50.8702Z"
          fill="#336791"></path>
        <path
          d="M36.5176 12.149C35.9551 12.3248 45.5951 8.62476 51.0759 15.626C53.0096 18.0993 50.7684 28.2068 45.4016 36.1695M32.0246 38.446C31.8841 43.4488 32.0599 48.4865 32.5486 49.696C33.0371 50.9053 34.0866 53.2995 37.6919 52.5295C40.7031 51.8845 41.7999 50.6345 42.2746 47.8765L43.3871 39.0578L32.0246 38.446ZM27.7041 13.3673C27.7041 13.3673 11.3844 6.69476 12.1439 21.8625C12.3056 25.0898 16.7669 46.296 22.0931 39.88C24.0371 37.5368 25.7951 35.7035 25.7951 35.7035L27.7041 13.3673Z"
          stroke="white"
          stroke-width="1.2585"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M45.4033 36.166C45.4033 36.166 45.755 37.8887 50.8525 36.8375C53.0798 36.377 51.7385 38.1277 49.4815 39.1755C47.6288 40.0367 43.4733 40.2565 43.4048 39.07C43.229 36.0025 45.5915 36.9342 45.421 36.166C45.2663 35.4735 44.208 34.795 43.512 33.1005C42.902 31.6237 35.1448 20.286 45.6635 21.968C46.0503 21.889 42.9213 11.9487 33.0775 11.8045C23.2338 11.6602 23.545 23.907 23.545 23.907"
          stroke="white"
          stroke-width="1.2585"
          stroke-linecap="round"
          stroke-linejoin="bevel"></path>
        <path
          d="M29.2703 37.2172C27.8993 38.75 28.3036 39.019 25.5616 39.5832C22.7876 40.1545 24.4191 41.1722 25.4806 41.4395C26.7708 41.763 29.7556 42.22 31.7736 39.395C32.3888 38.5337 31.7701 37.1627 30.9263 36.8147C30.5186 36.646 29.9736 36.435 29.2741 37.219L29.2703 37.2172Z"
          stroke="white"
          stroke-width="1.2585"
          stroke-linejoin="round"></path>
        <path
          d="M29.1808 37.1908C29.0401 36.289 29.4761 35.2185 29.9418 33.9635C30.6416 32.0828 32.2553 30.2018 30.9651 24.2305C30.0033 19.783 23.5471 23.304 23.5471 23.907C23.5471 24.51 23.8388 26.9658 23.4416 29.822C22.9196 33.5523 25.8146 36.7058 29.1473 36.384"
          stroke="white"
          stroke-width="1.2585"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M27.6441 23.8175C27.6141 24.023 28.0219 24.5732 28.5511 24.647C29.0801 24.721 29.5319 24.292 29.5619 24.0845C29.5916 23.877 29.1839 23.652 28.6549 23.5782C28.1256 23.5045 27.6704 23.6135 27.6441 23.8175Z"
          fill="white"
          stroke="white"
          stroke-width="0.42"></path>
        <path
          d="M43.753 23.3975C43.781 23.603 43.375 24.153 42.846 24.227C42.3167 24.3008 41.8615 23.872 41.8352 23.6645C41.8087 23.457 42.2132 23.232 42.7422 23.1583C43.2712 23.0845 43.7265 23.1935 43.753 23.3975Z"
          fill="white"
          stroke="white"
          stroke-width="0.20925"></path>
        <path
          d="M45.6442 21.9717C45.7319 23.589 45.2959 24.6875 45.2397 26.4085C45.1589 28.908 46.4317 31.7697 44.5137 34.635"
          stroke="white"
          stroke-width="1.2585"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </g>
    </g>
    <defs>
      <clipPath id="clip0_226_10">
        <rect width="64" height="64" fill="white"></rect>
      </clipPath>
    </defs>
  </svg>
  <p class="text-center">PostgreSQL</p>
</div>
