<div class="flex flex-col items-center">
  <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M49 0H15C6.71573 0 0 6.71573 0 15V49C0 57.2843 6.71573 64 15 64H49C57.2843 64 64 57.2843 64 49V15C64 6.71573 57.2843 0 49 0Z"
      fill="#F4F2ED"></path>
    <path
      d="M31.8197 7.25C19.1267 7.25 19.9193 12.7545 19.9193 12.7545L19.9335 18.457H32.0462V20.1695H15.1222C15.1222 20.1695 7 19.248 7 32.0552C7 44.8627 14.0892 44.4087 14.0892 44.4087H18.3202V38.4655C18.3202 38.4655 18.0922 31.3762 25.2965 31.3762H37.31C37.31 31.3762 44.0597 31.4853 44.0597 24.8528V13.8865C44.0597 13.8865 45.0845 7.25 31.8197 7.25ZM25.1408 11.0848C25.427 11.0845 25.7105 11.1406 25.9751 11.25C26.2396 11.3594 26.48 11.52 26.6824 11.7224C26.8848 11.9248 27.0453 12.1652 27.1547 12.4297C27.2641 12.6942 27.3203 12.9777 27.32 13.264C27.3203 13.5502 27.2641 13.8337 27.1546 14.0982C27.0452 14.3627 26.8847 14.6031 26.6823 14.8055C26.4799 15.0079 26.2395 15.1683 25.975 15.2777C25.7105 15.3871 25.427 15.4433 25.1408 15.443C24.8545 15.4433 24.5711 15.3871 24.3066 15.2777C24.0421 15.1683 23.8018 15.0078 23.5994 14.8054C23.397 14.603 23.2365 14.3627 23.1271 14.0982C23.0177 13.8337 22.9615 13.5502 22.9618 13.264C22.9615 12.9778 23.0176 12.6943 23.127 12.4297C23.2364 12.1652 23.3969 11.9249 23.5993 11.7225C23.8017 11.52 24.042 11.3595 24.3065 11.2501C24.571 11.1407 24.8545 11.0845 25.1408 11.0848Z"
      fill="url(#paint0_linear_215_75)"></path>
    <path
      d="M32.1805 56.9895C44.8735 56.9895 44.081 51.4852 44.081 51.4852L44.0667 45.7825H31.954V44.0702H48.878C48.878 44.0702 57.0002 44.9915 57.0002 32.184C57.0002 19.3765 49.911 19.8307 49.911 19.8307H45.68V25.774C45.68 25.774 45.908 32.8632 38.7037 32.8632H26.6902C26.6902 32.8632 19.9402 32.754 19.9402 39.3865V50.353C19.9402 50.353 18.9155 56.9895 32.1805 56.9895ZM38.8595 53.1547C38.5732 53.155 38.2897 53.0989 38.0252 52.9895C37.7607 52.8801 37.5204 52.7196 37.3179 52.5172C37.1155 52.3148 36.955 52.0745 36.8456 51.81C36.7362 51.5455 36.68 51.262 36.6802 50.9757C36.6799 50.6895 36.7361 50.4059 36.8455 50.1414C36.9549 49.8769 37.1154 49.6365 37.3179 49.4341C37.5203 49.2317 37.7606 49.0712 38.0252 48.9618C38.2897 48.8524 38.5732 48.7962 38.8595 48.7965C39.1457 48.7962 39.4292 48.8524 39.6938 48.9618C39.9583 49.0713 40.1986 49.2318 40.401 49.4342C40.6034 49.6366 40.764 49.8769 40.8734 50.1415C40.9828 50.406 41.039 50.6895 41.0387 50.9757C41.039 51.262 40.9827 51.5454 40.8733 51.8099C40.7639 52.0744 40.6033 52.3147 40.4009 52.5171C40.1985 52.7195 39.9582 52.88 39.6937 52.9894C39.4292 53.0988 39.1457 53.155 38.8595 53.1547Z"
      fill="url(#paint1_linear_215_75)"></path>
    <defs>
      <linearGradient
        id="paint0_linear_215_75"
        x1="11.805"
        y1="11.724"
        x2="36.5833"
        y2="36.255"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#387EB8"></stop>
        <stop offset="1" stop-color="#366994"></stop>
      </linearGradient>
      <linearGradient
        id="paint1_linear_215_75"
        x1="27.0142"
        y1="27.4762"
        x2="53.6232"
        y2="52.6305"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#FFE052"></stop>
        <stop offset="1" stop-color="#FFC331"></stop>
      </linearGradient>
    </defs>
  </svg>
  <p class="text-center">Python</p>
</div>
