<div class="flex flex-col items-center">
  <svg width="80" height="80" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_226_48)">
      <path
        d="M49 0H15C6.71573 0 0 6.71573 0 15V49C0 57.2843 6.71573 64 15 64H49C57.2843 64 64 57.2843 64 49V15C64 6.71573 57.2843 0 49 0Z"
        fill="#F4F2ED"></path>
      <path
        d="M32.0004 36.7377C34.5764 36.7377 36.6644 34.6495 36.6644 32.0737C36.6644 29.498 34.5764 27.4097 32.0004 27.4097C29.4247 27.4097 27.3364 29.498 27.3364 32.0737C27.3364 34.6495 29.4247 36.7377 32.0004 36.7377Z"
        fill="#00D8FF"></path>
      <path
        d="M32.0005 22.5908C38.2625 22.5908 44.0797 23.4893 48.466 24.9995C53.7507 26.8188 57 29.5765 57 32.0738C57 34.676 53.5565 37.6058 47.8812 39.486C43.5907 40.9075 37.9447 41.6495 32.0005 41.6495C25.906 41.6495 20.1347 40.953 15.7957 39.4703C10.3062 37.594 7 34.6265 7 32.0738C7 29.5968 10.1025 26.8603 15.313 25.0438C19.7155 23.5088 25.6763 22.5908 31.9995 22.5908H32.0005Z"
        stroke="#00D8FF"
        stroke-width="2.22775"></path>
      <path
        d="M23.7452 27.3595C26.8737 21.935 30.558 17.3445 34.0575 14.2995C38.2735 10.6302 42.286 9.19325 44.449 10.4405C46.7032 11.7405 47.521 16.1875 46.3147 22.043C45.4035 26.4697 43.225 31.7312 40.2552 36.8807C37.2105 42.1602 33.7242 46.8117 30.2725 49.8287C25.9047 53.6467 21.682 55.0285 19.4707 53.7532C17.325 52.5167 16.5045 48.4615 17.534 43.0402C18.4037 38.4595 20.5865 32.8372 23.7442 27.3595H23.7452Z"
        stroke="#00D8FF"
        stroke-width="2.22775"></path>
      <path
        d="M23.7532 36.8945C20.6159 31.476 18.4799 25.9905 17.5884 21.438C16.5152 15.9528 17.2739 11.759 19.4352 10.508C21.6874 9.20402 25.9482 10.7165 30.4187 14.686C33.7987 17.687 37.2694 22.2013 40.2477 27.3458C43.3012 32.6203 45.5897 37.964 46.4799 42.461C47.6064 48.152 46.6947 52.5003 44.4854 53.779C42.3419 55.02 38.4192 53.7063 34.2364 50.1068C30.7024 47.0658 26.9214 42.367 23.7532 36.8945Z"
        stroke="#00D8FF"
        stroke-width="2.22775"></path>
    </g>
    <defs>
      <clipPath id="clip0_226_48">
        <rect width="80" height="80" fill="white"></rect>
      </clipPath>
    </defs>
  </svg>
  <p class="text-center">React</p>
</div>
