<div class="flex flex-col items-center">
  <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_226_44)">
      <path
        d="M49 0H15C6.71573 0 0 6.71573 0 15V49C0 57.2843 6.71573 64 15 64H49C57.2843 64 64 57.2843 64 49V15C64 6.71573 57.2843 0 49 0Z"
        fill="#F4F2ED"></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M20.75 27.5C22.25 21.5 26.0002 18.5 32 18.5C41 18.5 42.125 25.25 46.625 26.375C49.6253 27.1252 52.25 26.0003 54.5 23C53.0002 28.9998 49.2498 32 43.25 32C34.25 32 33.125 25.25 28.625 24.125C25.6247 23.375 23 24.5 20.75 27.5ZM9.5 41C11 35.0002 14.75 32 20.75 32C29.75 32 30.875 38.75 35.375 39.875C38.3753 40.6252 41 39.5003 43.25 36.5C41.7502 42.4998 37.9998 45.5 32 45.5C23 45.5 21.875 38.75 17.375 37.625C14.375 36.8748 11.75 37.9997 9.5 41Z"
        fill="url(#paint0_linear_226_44)"></path>
    </g>
    <defs>
      <linearGradient
        id="paint0_linear_226_44"
        x1="21.625"
        y1="18.5"
        x2="40.875"
        y2="46.375"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#32B1C1"></stop>
        <stop offset="1" stop-color="#14C6B7"></stop>
      </linearGradient>
      <clipPath id="clip0_226_44">
        <rect width="64" height="64" fill="white"></rect>
      </clipPath>
    </defs>
  </svg>
  <p class="text-center">TailwindCSS</p>
</div>
