---
import Button from './Button.astro';
---

<div class="mx-auto flex h-screen max-w-7xl items-center justify-center">
  <div class="flex-col space-y-6">
    <h1 class="font-serif text-5xl">
      Hi! I'm <span class="font-bold text-primary">Dominik</span>. I love building software that <span
        class="font-bold text-primary">creates value</span
      >.
    </h1>
    <p>
      I’m a <span class="font-bold text-primary">software engineer</span> with <span
        class="font-bold text-primary">7+ years of experience</span
      > in web development, project management and client relations. My goal is to create software that
      solves real problems and <span class="font-bold text-primary">creates business value</span>.
    </p>
    <div class="flex space-x-4">
      <Button type="primary">Check my projects</Button>
      <Button>Read about me</Button>
    </div>
  </div>
  <img class="max-h-[1024px] select-none" src="/me.png" alt="" />
</div>
<p>testing</p>
