---
import BaseLayout from '@layouts/BaseLayout.astro';
import Hero from '@components/Hero.astro';
import Project from '@components/Project.astro';
import TextHighlight from '@components/TextHighlight.astro';
import { getCollection, getEntry } from 'astro:content';
import Contact from '@components/Contact.astro';

const pageTitle = 'Portfolio | Dominik Chomicki | Software Developer';

const projects = await getCollection('projects');
---

<BaseLayout pageTitle={pageTitle}>
  <Hero />
  <div class="mb-12 mt-12 flex flex-col gap-12 md:mb-24 md:mt-0 md:gap-24">
    <div>
      <h2
        id="projects"
        class="text-center font-serif text-3xl font-bold md:mt-0 md:text-4xl lg:text-5xl"
      >
        Featured projects
      </h2>
      <hr class="mx-auto mt-6 h-1 w-24 rounded bg-primary" />
    </div>

    <div class="flex-col space-y-24 md:space-y-32">
      {
        projects
          .sort((a, b) => b.data.order - a.data.order)
          .map(async (project, i) => {
            const excerpt = await getEntry(project.data.excerpt);
            const { Content } = await excerpt.render();
            return (
              <Project reverse={i % 2 == 1} project={project}>
                <Content />
              </Project>
            );
          })
      }
    </div>
    <Contact />
  </div>
</BaseLayout>
