---
import { Image } from 'astro:assets';
import LinkedInIcon from 'icons/LinkedInIcon.astro';
import MessageIcon from 'icons/MessageIcon.astro';
import MeContact from '../images/me_contact.png';
---

<div class="flex flex-col items-center justify-center gap-8 md:flex-row lg:gap-24">
  <Image src={MeContact} alt="" />
  <div class="flex-col">
    <h2 class="mb-8 align-middle font-serif text-3xl font-bold md:text-4xl lg:text-5xl">
      Let's have a chat!
    </h2>
    <ul class="space-y-8 text-lg md:text-xl">
      <li class="flex items-center gap-4">
        <MessageIcon />
        <a
          class="decoration-primary decoration-2 hover:underline"
          href="mailto:contact@dominikchomicki.com">contact@dominikchomicki.com</a
        >
      </li>
      <li class="flex items-center gap-4">
        <LinkedInIcon />
        <a
          class="decoration-primary decoration-2 hover:underline"
          href="https://www.linkedin.com/in/dominik-chomicki/">linkedin.com/in/dominik-chomicki</a
        >
      </li>
    </ul>
  </div>
</div>
