---
import Button from './Button.astro';
import TextHighlight from './TextHighlight.astro';
---

<div class="flex h-screen flex-col-reverse items-center justify-between py-4 md:flex-row">
  <div class="flex max-w-prose flex-col space-y-6 md:mt-24">
    <h1 class="font-serif text-3xl font-bold md:text-4xl lg:text-5xl">
      Hi! I'm <TextHighlight>Dominik</TextHighlight>. I love building software that <TextHighlight
        >creates value</TextHighlight
      >.
    </h1>
    <p class="text-sm md:text-base">
      I’m a <TextHighlight>software engineer</TextHighlight> with <TextHighlight
        >7+ years of experience</TextHighlight
      >
      in web development, project management, and client relations. My goal is to create software that
      solves real problems and <TextHighlight>creates business value</TextHighlight>.
    </p>
    <div class="flex space-x-2">
      <Button type="primary">Check my projects</Button>
      <Button>Read about me</Button>
    </div>
  </div>
  <img class="mt-6 max-h-[60vh] select-none lg:max-h-[90vh]" src="/me.png" alt="" />
</div>
