---
import { Image } from 'astro:assets';
import Button from './Button.astro';
import TextHighlight from './TextHighlight.astro';
import MeImage from '../assets/me.png';
---

<div
  class="flex h-screen flex-col-reverse items-center py-4 md:flex-row md:justify-between md:py-0"
>
  <div class="flex flex-col space-y-6 md:mt-24 md:max-w-sm lg:max-w-md xl:max-w-prose">
    <h1 class="font-serif text-3xl font-bold md:text-4xl lg:text-5xl">
      Hi! I'm <TextHighlight>Dominik</TextHighlight>. I love building software that <TextHighlight
        >creates value</TextHighlight
      >.
    </h1>
    <p class="text-sm md:text-base">
      I’m a <TextHighlight>software engineer</TextHighlight> with <TextHighlight
        >7+ years of experience</TextHighlight
      >
      in web development, project management, and client relations. My goal is to create software that
      solves real problems and <TextHighlight>creates business value</TextHighlight>.
    </p>
    <div class="flex space-x-2">
      <a href="#projects">
        <Button type="primary">Check my projects</Button>
      </a>
      <a href="/about">
        <Button>Read about me</Button>
      </a>
    </div>
  </div>
  <div class="mt-6 min-h-0 md:grow">
    <Image
      src={MeImage}
      class="mx-auto h-full w-auto self-end md:max-h-[95vh]"
      alt="Dominik"
      quality="max"
    />
  </div>
</div>
