---
import MenuIcon from 'icons/MenuIcon.astro';
import Button from './Button.astro';
import CloseIcon from 'icons/CloseIcon.astro';
---

<nav class="fixed flex w-screen flex-wrap items-center justify-between px-4 py-4 text-xl xl:px-12">
  <div class="flex w-screen justify-between md:w-auto">
    <a href="/" class="flex items-center space-x-2 font-serif">
      <img src="/me_navbar.png" alt="" />
      <span>Dominik Chomicki</span>
    </a>
    <button id="menu-button" class="md:hidden">
      <span id="menu-icon"><MenuIcon /></span>
      <span id="close-icon" class="hidden"><CloseIcon /></span>
    </button>
  </div>
  <div
    id="mobileMenu"
    class="hidden w-screen bg-white md:block md:h-auto md:w-auto md:bg-transparent"
  >
    <div
      class="flex flex-col space-y-4 py-4 md:flex-row md:items-center md:space-x-12 md:space-y-0 md:py-0"
    >
      <a class="w-fit hover:underline" href="/about">About</a>
      <a class="w-fit hover:underline" href="/projects">Projects</a>
      <Button type="primary">Contact</Button>
    </div>
  </div>
</nav>

<script>
  const toggleMobileMenu = () => {
    const menu = document.getElementById('mobileMenu');
    const menuIcon = document.getElementById('menu-icon');
    const closeIcon = document.getElementById('close-icon');

    menu?.classList.toggle('hidden');
    menuIcon?.classList.toggle('hidden');
    closeIcon?.classList.toggle('hidden');
  };

  const button = document.getElementById('menu-button');
  button?.addEventListener('click', function () {
    toggleMobileMenu();
  });
</script>
