---
import Button from './Button.astro';
---

<nav>
  <div class="flex items-center space-x-6 p-4 text-xl">
    <span>About</span>
    <span>Projects</span>
    <Button type="primary">Contact</Button>
  </div>
  <div></div>
</nav>
