---
import DotNetIcon from 'icons/tech/DotNetIcon.astro';
import AngularIcon from '../icons/tech/AngularIcon.astro';
import CSharpIcon from 'icons/tech/CSharpIcon.astro';
import PythonIcon from 'icons/tech/PythonIcon.astro';
import PostgresqlIcon from 'icons/tech/PostgresqlIcon.astro';
import TypeScriptIcon from 'icons/tech/TypeScriptIcon.astro';
import JSIcon from 'icons/tech/JSIcon.astro';
import ReactIcon from 'icons/tech/ReactIcon.astro';
import NextJSIcon from 'icons/tech/NextJSIcon.astro';
import AstroIcon from 'icons/tech/AstroIcon.astro';
import TailwindCSSIcon from 'icons/tech/TailwindCSSIcon.astro';
---

<div class="flex flex-wrap gap-6">
  <DotNetIcon />
  <CSharpIcon />
  <PythonIcon />
  <PostgresqlIcon />
  <TypeScriptIcon />
  <JSIcon />
  <AngularIcon />
  <ReactIcon />
  <NextJSIcon />
  <AstroIcon />
  <TailwindCSSIcon />
</div>
