---
import Navbar from '@components/Navbar.astro';
import SEO from '@components/SEO.astro';

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap"
      rel="preload"
      as="style"
    />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
    <SEO />
  </head>
  <body>
    <Navbar />
    <main class="mx-auto max-w-7xl px-4 xl:px-0">
      <slot />
    </main>
    <script>
      document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
        anchor.addEventListener('click', function (this: Element, e: Event) {
          e.preventDefault();

          const target = document.querySelector(this.getAttribute('href') as string);

          target?.scrollIntoView({
            behavior: 'smooth',
          });
        });
      });
    </script>
  </body>
</html>
